---
import Header from "../components/header.astro";
const pageTitle = "Sobre mí";
const identity = {
    firstName: "Ruben",
    country: "España",
    hobbies: ["Impresión 3D", "Gym", "Piano"]
};

const skills = ["Angular", "JavaScript", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

import '../global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
</head>
<body>
    <div class="center">
        <Header></Header>
	    <h1>{pageTitle}</h1>
        <p>Este es mi portfolio dónde publico mis proyectos y hago blog posts explicando el proceso de mis trabajos y sobre otros proyectos de mis hobbies.</p>
        <p> Mis habilidades son las siguientes </p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
    </div>
</body>
</html>


