---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
	<h1>Sobre mi</h1>
    <body>
        <p>Este es un blog para ir públicando las cosas que voy aprendiendo sobre desarrollo web, también subir contenido sobre otros de mis hobbies nicho.</p>
        <br>
        <p>El próposito es mostrar que se puede llegar a ser un desarrollador empezando desde 0 y que esto sirva de motivación y ayuda para más personas.</p>
    </body>
    <Welcome />
</Layout>
