---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
	<h1>Blog del Autómata</h1>
    <body>
        <p>Este es blog donde iré publicando el progreso.</p>
    <Welcome />
</Layout>
