---
import Github from '../assets/githubIcon.svg'
---
<footer>
    <a href="https://www.github.com/RubenCamus"><Github width={48} height={48}/></a>
</footer>

<style>
    footer {
        margin-top: 50px;
        text-align: center;
    }
</style>