---
---


<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>

<style>
    ul { 
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 50px;
        justify-content: center;
    }
    ul li a { 
        display: block;
        color: rgb(46, 46, 46);
        text-decoration: none;
        padding: 10px 25px;
        font-weight: bold;
    }
    ul li a:hover {
        color: rgb(136, 50, 50);
    }
    
</style>