---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
const { frontmatter } = Astro.props;
import '../global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{frontmatter.title}</title>
</head>
<body>
	<Header></Header>
	<div class="center-blog">
		<div>
			<p class="title">{frontmatter.title}</p>
			<p class="description">{frontmatter.date} <br> {frontmatter.author}</p>
		</div>
		<article>
			<slot/>
		</article>
	</div>
	<Footer/>
</body>

<style is:global>
	h1 {
		font-weight: bolder;
		font-size:45px;
	}
	blockquote { 
		border-left: solid rgb(68, 68, 68);
		padding: 2rem;
	}
</style>
<style>
	.description { 
		color: rgb(85, 85, 85);
		margin-bottom: 20px;
	}
	.title {
		font-weight: bolder;
		font-size: 40px;
	}
	body {
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		}

</style>
